#home1{
    font-size: 12px;
}
#home2{
    font-size: 10px;
}
#home4{
    font-size: 20pt;
}
#home5{
    font-size: 15px;
}
a{


} 

img{
    height: 200px;
    width: 200px;
}
body{
    margin: 10px;
    font-weight: bold;
}