#home1{
    font-size: 12px;
}
#home2{
    font-size: 10px;
}
#home4{
    font-size: 20pt;
}
#home5{
    font-size: 15px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar div.active {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

img{
    height: 200px;
    width: 200px;
}
body{
    margin-top: 30px;
    margin: 10px;
    font-weight: bold;
}