#home1{
    font-size: 12px;
}
#home2{
    font-size: 10px;
}
#home4{
    font-size: 20pt;
}
#home5{
    font-size: 15px;
}
#header1{
    position: relative;
    min-height: 100vh;
}
body{
    margin: 10px;
    font-weight: bold;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }
  #footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 110%;            /* Footer height */
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    overflow: hidden;
    background-color: #333;
    color: #f2f2f2;
  }
  #footer a {
    color: #4caf50;
  }
  #footer a:hover {
    color: #4cafaf;
  }
  #footer a:active {
    color: #4c50af;
  }
  #flex {
    display: flex;
    flex-wrap: wrap;
  }
  #flex > div {
    max-width: 400px;
    margin: 10px;
    text-align: left;
  }
  .topnav {
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  